
<!DOCTYPE html>
<html ng-app="citiesApp">
<head>
    
    <title>Travel in Paris</title>  
    <link rel="stylesheet" type="text/css" href="components/style.css">  
    <link href="https://fonts.googleapis.com/css?family=Tajawal" rel="stylesheet"> 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body ng-controller="myCtrl as indxCtrl">            
        <div>
            <div style="display: block">
                <div id="menu">
                    <span ng-click="onClickOtherForLogin()">
                    <a class="navLink" ng-model="User.Username">Hello {{User.Username}}</a>
                    <a class="navLink" href="#/">Home</a>
                    <a class="navLink" href="#/about">About</a>
                    <a class="navLink" href="#/poi">Points of interest</a>
                    <a class="navLink" ng-show="!isLoggedIn" href="#/register">Register</a>
                    <a class="navLink" ng-show="isLoggedIn" ng-click="logout()">Logout</a>
                    <a class="navLink" href="#/favorites" ng-show="isLoggedIn">&#9734; Favorites</a>
                    </span>
                    <a class="navLink" style="text-align: right; position: absolute; right: 3vw" ng-show="!isLoggedIn" id="login" ng-click="onClickLogin()">Login</a>
                </div>
                <div id="login-form" ng-show="showLogin" >
                        <div class="arrow"></div>
                    <form class="form-inline" role="form">
                        Username: <input type="text" name="username" placeholder="enter username.." ng-model="UserInput.Username">
                        Password: <input type="password" name="password" placeholder="enter password.." ng-model="UserInput.Password">
                        <input id="loginButton" type="submit" name="sign-in" ng-click="login()">
                    </form>
                </div>
                <div ></div>
            </div>
            <div class="pages" style="padding-top: 10vh;" ng-view ng-click="onClickOtherForLogin()"></div>
            <div id="goUpArrow"><button ng-click="scrollUp()"><img id="arrowUp-pic" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/20/Circle-icons-arrow-up.svg/1024px-Circle-icons-arrow-up.svg.png"/></button></div>
        </div>

        <!--++++++++++++++++++++++++++++++++ modal ++++++++++++++++++++++++++++++++++++++++++++++++++++-->
 
 <div class="modal fade" id="poi-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{activePoi.PointName}}</h5>
                <span ng-click="pressFavorite()" class="fav-star-btn save-to-fav" ng-show="!isInFav && isLoggedIn">&#9825; <span style="font-size: 12pt;">Save</span></span>
                <span ng-click="pressFavorite()" class="fav-star-btn remove-from-fav" ng-show="isInFav && isLoggedIn">&#9825; <span style="font-size: 12pt;">Saved</span></span>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div desc-section>
                    <span class="desc-section-item">Description: {{activePoi.Description}} </span>
                    <span class="poi-section-item"><span class="poi-rate">{{activePoi.Rate}}</span></span>
                </div>
              <img width="100px" ng-src="{{activePoi.Image}}" />
              <!--rate with stars-->
              <div ng-controller="RatingCtrl">
  
                    <h4  style="color:grey">Rate it:</h4>
                 <div ng-init="rating = star.rating + 1"></div>
                
                <div class="star-rating star" star-rating rating-value="rating"
                data-max="5" on-rating-selected="rateFunction(rating)"></div>
              </div>
               <!--like with heart -->
               <div ng-controller="FavoritePoiCtrl">
  
                <h4  style="color:grey">like it:</h4>
                <div ng-init="press = heart.press"></div>

            <div class="heart-like heart" heart-like is-liked="press"
             on-like-selected="likeFunction(press)"></div>
          </div>
          <!--reviews-->   
              <h4 style="color:grey">Reviews:</h3>
                     <div ng-show="hasReviews" class="reviews" ng-repeat="review in activePoi.Reviews">
                             <div class="user-review"><img style="width: 30px" src="http://romanroadbowneighbourhoodplan.org/wp-content/uploads/2016/02/user77.png"/>{{review.Username}}</div><div class="body-review"> {{review.Review}}</div>
                     </div>
                     <div class="reviews" ng-show="!hasReviews">There are no reviews for this point of interest yet..</div>
            </div>
            <div class="modal-footer">
             <div>Number of viewers: {{activePoi.numberOfViewers}}</div>
            </div>
          </div>
        </div>
      </div>


              <!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
       
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="../node_modules/angular-local-storage/dist/angular-local-storage.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>  
    <script src="app.js" ></script>
    <script src="localStorageModel.js" ></script>
    <script src="loginService.js" ></script>
    <script src="components/POI/PoiService.js" ></script>
    <script src="myCtrl.js" ></script>
    <script src="RatingCtrl.js" ></script>
    <script src="components/POI/FavoritePoiCtrl.js" ></script>
    <script src="components/About/aboutController.js" ></script>
    <script src="components/POI/poiCtrl.js" ></script>
    <script src="components/Home/homeController.js" ></script>
    <script src="components/Home/regctrl.js" ></script>
    <script src="components/Favorites/FavCtrl.js" ></script>
    <script src="components/About/aboutController.js" ></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>      
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>

    </body>
</html>   