<div class="home-section">
    <div class="home-background home-part">
        <h1 class="home-title">Welcome To Paris</h1>
    </div>
    <div ng-show="!isLoggedIn" id="explore-home" class="explore home-part">
        <h2>Explore: </h2>
        <div class="ex-poi" ng-repeat="site in explorePois" data-toggle="modal" data-target="#poi-modal">
            <div ng-click="getPoi(site.PointName)"><h4>{{site.PointName}}</h4>
            <img ng-src="{{site.Image}}" /></div>
        </div>
    </div>
    <div ng-show="isLoggedIn" id="user-home" class="home-part">
        <div class="user-home-parts">
            <h2>Explore: </h2>
            <div class="user-home-part-item" ng-repeat="site in exploreUserPois" data-toggle="modal" data-target="#poi-modal">
                <div ng-click="getPoi(site.PointName)"><h4>{{site.PointName}}</h4>
                <img ng-src="{{site.Image}}" /></div>
            </div>
        </div>
        <div class="user-home-parts">
            <h2>Last Saved By You: </h2>
            <div class="user-home-part-item" ng-repeat="site in userLastPois" data-toggle="modal" data-target="#poi-modal">
                <div  ng-click="getPoi(site.PointName)"><h4>{{site.PointName}}</h4>
                <img ng-src="{{site.Image}}" /></div>
            </div>
        </div>
    </div>
    </div>
</div>