
<form class="register-form" name="regForm" ng-controller="regCtrl" ng-submit="submit(regForm.$invalid)" novalidate>
    <h1 style="color: #5086e4">Register</h1>
    <hr>

    <label for="firstName"><b>First Name: </b></label>
    <input type="text" ng-model="UserInput.FirstName" placeholder="Enter First Name" name="fName" required>
    
    
    <label for="lastName"><b>Last Name</b></label>
    <input type="text" ng-model="UserInput.LastName" placeholder="Enter Last Name" name="lastName" required>
    
    <label for="username"><b>Username</b></label>
    <input id="Username" type="text" ng-pattern="/^[a-zA-Z\s]*$/" ng-model="UserInput.Username" placeholder="Enter Last Name" name="Username" ng-minlength="3" ng-maxlength="8" required>
    <div ng-show="regForm.Username.$invalid && regForm.Username.$touched" class="validation-error"><small>Username must contain letters only</small></div>
    <div ng-show="regForm.Username.$error.minlength && regForm.Username.$touched" class="validation-error"><small>The name is too short</small></div>
    <div ng-show="regForm.Username.$error.maxlength && regForm.Username.$touched" class="validation-error"><small>The name is too long</small></div>
    <h1>The validation: {{regForm.Username.$valid}}</h1>


    <label for="Email"><b>Email</b></label>
    <input type="email" ng-model="UserInput.Email" placeholder="Enter Email" name="Email" required>
    <div ng-show="regForm.Email.$invalid && regForm.Email.$touched" class="validation-error"><small>Invalid email address</small></div>
    
    <label for="password"><b>Password</b></label>
    <input type="password" ng-pattern="/^[a-zA-Z0-9\s]*$/" ng-model="UserInput.Password" placeholder="Enter Password" name="password" ng-minlength="5" ng-maxlength="10"  required>
    <div ng-show="regForm.password.$error.minlength && regForm.password.$touched" class="validation-error"><small>Password is too short</small></div>
    <div ng-show="regForm.password.$error.maxlength && regForm.password.$touched" class="validation-error"><small>Password is too long</small></div>
    
    <label for="City"><b>City</b></label>
    <input type="text" ng-model="UserInput.City" placeholder="Insert City" name="City" required>
    <div ng-show="regForm.City.$touched && regForm.City.$invalid" class="validation-error"><small>Please enter a city</small></div>


    <label for="Country"><b>Country</b></label>
    <select id="Countries" ng-model="UserInput.Country" name="country" ng-options="country.Name as country.Name for country in countries"></select><br><br>
    <div ng-show="regForm.country.$touched && regForm.country.$invalid" class="validation-error"><small>please choose a country</small></div>

    <label for="Categories"><b>Categories</b></label>
    <div ng-repeat="category in categories" class="standard" flex="50">
      <label>        
        <input type="checkbox" name="category" ng-model="category.checked" ng-change="sumCategories(category.checked)">
        {{ category.Category }}
      </label>
    </div>
    <div ng-show="numOfCategories<2" class="validation-error"><small>You must choose at least 2 categories</small></div>


    <div id="sec-ans">
            <h3>Please fill answers for the folowing questions: </h3>
            <label for="security_answer1">What was the name of your first pet?</label>
            <input type="text" placeholder="Your answer.." ng-model="UserInput.SecurityAnswer1" name="SecurityAnswer1" required>
            <div ng-show="regForm.SecurityAnswer1.$touched && regForm.SecurityAnswer1.$invalid" class="validation-error"><small>You have to answer..</small></div>

            <label for="security_answer2">What is the name of your high-school?</label>
            <input type="text" placeholder="Your answer.." ng-model="UserInput.SecurityAnswer2" name="SecurityAnswer2" required>
            <div ng-show="regForm.SecurityAnswer2.$touched && regForm.SecurityAnswer2.$invalid" class="validation-error"><small>You have to answer..</small></div>
        </div>
    <input type="submit" value="Sign Up">
    
  <div class="container signin">
    <p>Already have an account? <a href="#">Sign in</a></p>
    </div>


       <!--<input type="submit" class="btn btn-primary" value="Register" ng-disabled="register.$invalid || totalSelected < 2"/>-->

</form>
