<div class="container">
        <input id="searchbox" type="text" ng-model="search" placeholder="Search..."/>
        Choose Category: <select ng-model="cat">
                <option></option>
                 <option ng-repeat="category in categories">{{category.Category}}</option>
        </select>
        <div class="section" ng-repeat="site in sites | filter: {PointName: search, Category: cat}">
            <h2 class="poi-title">{{site.PointName}}</h2> 
        <img ng-src="{{site.Image}}" />
        </div>
</div>